.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.thumb-main {
  max-width: 400px;
  max-height: 500px;
}

.thumb-list {
  height: 100px;
}

.card {
  padding: 1em;
  opacity: .1;
}

Body {
  background-color: rgba(0,0,0,.1);
}

.Selection {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.card-item {
  width: 300px;
}
